//  ============> COLOR'S <============

$themeColor: #0c3c60;
$themeLightColor: #3c6d9a;
$themeLoginBtnColor: #145585;
$themeIconColor: #0072bc;
$themeHoverColor: #10456d;
$themePrimaryColor: #444444;
$themePrimaryBlack: #333333;
$themeSecondryBlack: #555;
$themeWhiteColor: #ffffff;
$themeDefaultColor: #ccc;
$themeSeconderyLightColor: #337ab7;

//  ============> FONT-SIZE'S <============
$font-14: 14px;
$font-18: 18px;
$font-24: 24px;

//  ============> BOX-SHADOW <============

$themeBoxShadow: 0 1px 1px rgba(0, 0, 0, 0.05);
